{% extends "bootstrap/base.html" %}

{% block head %}
  {{ super() }}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='stylesheets/base.css') }}" rel="stylesheet">
  {% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://www.d3plus.org/js/d3plus.js"></script>
  {% endblock %}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-static-top">
  <ul class="nav navbar-nav">
    <li class="lead"><a href="/index">Home</a></li>
    <li class="lead"><a href="/new_game">New Game</a></li>
    <li class="lead"><a href="/current_games">Current Games</a></li>
  </ul>
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container footer">
      micro-scrabble / <a href="https://github.com/wtbarnes">Will Barnes</a> / Built with <a href="http://flask.pocoo.org/docs/0.10/">Flask</a></a>
  </div>
</div>
{% endblock %}
