{% extends "base.html" %}
{% block title %}Scrabble | {{ name }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row add_space">
    <div class="col-md-1">
    </div>
    <div class="col-md-8" id='grid'>
      <h1>{{ name }}</h1>
    </div>
    <div class="col-md-3">
      <table class="table">
        <thead>
          <th>Player</th>
          <th>Score</th>
        </thead>
        <tbody>
      {% for p in player_list %}
      <tr>
        <td>{%if p.your_turn%}<i class="fa fa-check text-success"></i> {%endif%}<a href="/game-{{ name }}/players/{{ p.name }}">{{ p.name }}</a></td>
        <td>{{ p.score }}</td>
      </tr>
      {% endfor %}
        </tbody>
    </table>
    </div>
  </div>
  <div class="row">
  </div>
</div>
  <script type="text/javascript" charset="utf-8">{{ d3_board | safe}}</script>
{% endblock %}
