{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Scrabble | Player {{ name }}{% endblock %}

{%block content %}
<div class="container">
  <div class="row" style="padding-bottom:10px">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
    <h1>{{ name }}</h1>
    {% if not your_turn %}
    <div class="alert alert-danger">
      <b>Hold On!</b> It's not your turn yet.
    </div>
    {% else %}
    {{ wtf.quick_form(submit_form) }}
    {% endif %}
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="row" style="padding-bottom:25px">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
    {% if your_turn %}
    {{ wtf.quick_form(swap_form) }}
    {% endif %}
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="row add_space">
    <div class="col-md-1">
    </div>
    <div class="col-md-10" id="rack">
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">{{ d3_rack | safe }}</script>
{% endblock %}
